rtl-tester/languages/rtl-tester-he_IL.mo
rtl-tester/languages/rtl-tester-he_IL.po
rtl-tester/readme.txt
rtl-tester/rtl-tester.php
rtl-tester/rtl-tester.pot
digg-digg/*
developer/*
wordpress-beta-tester/*
debug-bar/*
log-deprecated-notices/*
monster-widget/*
rewrite-rules-inspector/*
debug-bar-cron/*